<div class="container">
  <h1>{{ title }}</h1>
  <p>Showing the past {{ hours }} hours</p>
  <p>Plotting a point every {{ period }} seconds</p>
</div>

{{#metrics}}
<div class="row">
    <div class="container">
        <div class="metric" data-metric="{{key}}">
            <div class="metric--meta">
                <div class="metric--title">{{value.title}}</div>
                <div><span class="metric--value"></span></div>
            </div>
            <div class="metric--graph"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{/metrics}}
