<div class="container">
  <h1>{{ title }}</h1>
</div>

{{#metrics}}
<div class="row">
    <div class="container">
        <div class="metric" data-namespace="{{namespace}}" data-metric-name="{{metric}}">
            <div class="metric--meta">
                <div class="metric--title">
                    <abbr title="{{namespace}} - {{metric}}">{{title}}</abbr>
                </div>
                <div class="metric--value"></div>
            </div>
            <div class="metric--graph"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{/metrics}}
