body {
  font-family: 'ChaletBook';
  margin: 20px 0;
}

h1, h2, h3, h4 {
  letter-spacing: -1;
  color: #285C85;
}

h1 {
  font-size: 40px;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 10px 0;
}

.clearfix {
  clear: both;
}

.good {
  color: #45B29D;
}

.bad {
  color: #DF4949;
}

.row {
  padding: 18px 0 26px 0;
  border-top: 1px solid #eee;
  position: relative;
}

.row:nth-child(even) {
  background: #fafafa;
}

.row .title {
  font-size: 20px;
  color: #777;
  margin-bottom: 5px;
}

.row .stats {
  float: left;
  width: 180px;
  margin-right: 20px;
  color: #416275;
  bottom: 0;
}

.row .stats .units {
  font-size: 30px;
  margin-left: -10px;
  margin-top: 4px;
  opacity: 0.5;
}

.row .stats .latest {
  color: #666;
  font-size: 40px;
  padding-bottom: 5px;
}

.row .stats .average {
  font-size: 25px;
  color: #666;
}

.row .graph {
  float: left;
  width: 700px;
  height: 140px;
}

/* TODO Hacky CSS - can this be done with Rickshaw options? */

.rickshaw_graph svg {
  position: relative;
  z-index: 10000;
}

.rickshaw_graph .detail .x_label {
  display: none;
}

.rickshaw_graph .detail {
  position: relative;
  z-index: 20000 !important;
}

.rickshaw_graph .x_tick {
  border-left: 1px solid #eee !important;
  position: relative;
  z-index: 1;
}

.rickshaw_graph .x_tick .title {
  position: relative;
  bottom: -2px !important;
  color: #999;
}


